h1{
    color:black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
}


p{
    font-family: 'Courier New', Courier, monospace;
}


img{
    width: 300px;
    margin: auto;
}


section{
margin-top: 50px;
   margin-left: 10%;
   margin-right: 10%;
   width: 80%;
   height: 100%;
}

.draggable{
    position: absolute; /* Position absolutely to move freely */
    cursor: move; /* Indicate that the element is draggable */
    user-select: none; /* Prevent text selection while dragging */
}

#render01{
    top: 20%;
    left: 55%;
    width: 40%;
}

#render02{
    left: 10%;
    width: 40%;
    top: 300%;
}

#text{
    width: 50%;
    z-index: 10;
}




#construction-process{
    width: 50%;
    top: 250%;
    left: 25%;
}
#plan{
    width: 50%;
    top: 65%;
    left: 0%;
}
#detail{
    width: 50%;
    top: 100%;
    left: 50%;
}


.shell{
    top: 350%;
    width: 15%;
}
#shell01{
    left: 5%;
}
#shell02{
    left: 23.75%;
}
#shell03{
    left: 42.5%;
}
#shell04{
    left: 61.25%;
}
#shell05{
    left: 80%;
}


.exp{
    width: 20%;
    left: 10%
}
#exp01{
    top:160%;
}
#exp02{
    top:200%;
}
#exp03{
    top:220%;
}
#exp04{
    top:180%;
}



#footer{
    top: 500%;
}