h1{
    color:black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
}


p{
    font-family: 'Courier New', Courier, monospace;
}


img{
    width: 300px;
    margin: auto;
}


section{
margin-top: 50px;
   margin-left: 10%;
   margin-right: 10%;
   width: 80%;
   height: 100%;
}

.draggable{
    position: absolute; /* Position absolutely to move freely */
    cursor: move; /* Indicate that the element is draggable */
    user-select: none; /* Prevent text selection while dragging */
}

#render01{
    top: 30%;
    left: 65%;
    width: 30%;
}

#render02{
    left: 10%;
    width: 30%;
    top: 100%;
}

#render03{
    width: 20%;
    top: 250%;
}

#text{
    width: 50%;
    z-index: 10;
}

#plan-section{
    top: 75%;
    width: 50%;
    right: 10%;
}

#detail{
    top: 150%;
    width: 50%;
    left: 2%;
}

#workflow{
    top: 240%;
    right: 2%;
    width: 50%;
}

.shell{
    top: 220%;
    width: 15%;
}
#shell01{
    left: 5%;
}
#shell02{
    left: 23.75%;
}
#shell03{
    left: 42.5%;
}
#shell04{
    left: 61.25%;
}
#shell05{
    left: 80%;
}


.exp{
    width: 20%;
    left: 10%
}
#exp01{
    top:300%;
}
#exp02{
    top:320%;
}
#exp03{
    top:340%;
}
#exp04{
    top:360%;
}



#footer{
    top: 500%;
}